<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulador de Ensamblaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Main.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Table.css')}}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Simulador de Ensamblaje</h1>
        <nav>
          <ul class="tabs">
            {% block tab %}{% endblock %}
          </ul>
        </nav>
      </header>

      <main>{% block container%}{% endblock %}</main>

      <footer>
        <a href="#about">Acerca de la Aplicación</a> |
        <a href="#docs">Documentación</a>
      </footer>
    </div>
  </body>
</html>
