{% extends "base.html" %}
<!--! Tab -->

{% block tab %}
<li><a href="{{ url_for('index') }}">Gestión de Datos</a></li>
<li><a href="{{ url_for('Simulation') }}" class="active">Simulación</a></li>
<li><a href="{{ url_for('Reports') }}">Reportes</a></li>
{% endblock %} {% block container %}
<section id="simulation" class="tab-content active">
  <h2>Simulación de Ensamblaje</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Tiempo</th>
          {% for linesEnsamble in range(Machine_Selected.num_lineas_produccion) %}
          <th>Línea de ensamblaje {{ linesEnsamble + 1 }}</th>
          {% endfor %}

        </tr>
      </thead>
      <tbody>
        {% for action in actionsAssembly %} {% for time in action.secondsActions %}
        <tr>
          <td>{{time.second}}</td>
          {% for actionTime in time.actions %}
          <td>{{actionTime}}</td>

          {% endfor %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% for action in actionsAssembly %}
    <p class="caption">El producto {{ action.name }} se puede elaborar óptimamente en {{ action.total_time }} segundos.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
